<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="">
    <a href="#" class="brand">
        <img class="logo" src="https://avatars3.githubusercontent.com/u/394378?s=32&v=4"/>
        <span>Pistatium Tools</span>
    </a>

    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" class="burger pseudo button">Menu</label>
    <div class="menu">
      <a href="https://twitter.com/kimihiro_n" class="button icon-twitter">Twitter: @kimihiro_n</a>
        <a href="https://github.com/pistatium" class="button icon-github">GitHub</a>
    </div>
</nav>
    
<div style="margin-top: 50px; padding: 0 24px;">
        {{ content }}
</div>

<footer style="color: #ccc; text-align:center;">
    &copy; 2020 <a href="https://github.com/pistatium">{{ site.github.owner_name }}</a>
</footer>

<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
</body>
</html>
